n8n/workflows/lead-ingestion.json
{
  "name": "Lead Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-ingestion",
        "responseMode": "onReceived",
        "responseData": "",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Receiver",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate incoming lead payload\nconst lead = $input.first().json.body;\n\n// Required field validation\nconst requiredFields = ['customer_name', 'phone', 'city', 'service_type', 'property_type', 'issue_description'];\nconst missing = requiredFields.filter(f => !lead[f]);\n\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\n\n// Default values for optional fields\nlead.source = lead.source || 'Website';\nlead.status = 'NEW';\nlead.lead_score = lead.lead_score || 50;\nlead.priority = lead.priority || 'MEDIUM';\nlead.lead_quality = lead.lead_quality || 'MEDIUM';\nlead.urgency = lead.urgency || 'NORMAL';\nlead.estimated_job_value = lead.estimated_job_value || 'MEDIUM';\nlead.customer_intent = lead.customer_intent || 'UNKNOWN';\nlead.recommended_response_time = lead.recommended_response_time || 'Within 24 Hours';\nlead.service_category = lead.service_category || 'General';\nlead.summary = lead.summary || lead.issue_description.substring(0, 200);\nlead.recommended_action = lead.recommended_action || 'Review and contact customer.';\n\nreturn lead;"
      },
      "id": "validate-payload",
      "name": "Validate & Sanitize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "hvac_leads",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "dataMode": "postProcess",
        "options": {}
      },
      "id": "supabase-insert",
      "name": "Insert into Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "supabaseApi": "Supabase API"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "table": "hvac_leads",
        "dataMode": "postProcess",
        "options": {}
      },
      "id": "get-inserted-lead",
      "name": "Get Inserted Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [750, 300],
      "credentials": {
        "supabaseApi": "Supabase API"
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "lead_events",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.id }}",
            "event_type": "LEAD_RECEIVED",
            "description": "=Lead received from {{ $json.lead_source || $json.source || 'website_form' }}.",
            "metadata": {
              "lead_source": "={{ $json.lead_source || $json.source }}",
              "source_type": "={{ $json.source_type }}",
              "source_reference": "={{ $json.source_reference }}"
            },
            "created_at": "={{ $now.toISOString() }}",
            "created_by": null
          }
        },
        "dataMode": "postProcess",
        "options": {}
      },
      "id": "create-lead-received-event",
      "name": "Create LEAD_RECEIVED Event",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "supabaseApi": "Supabase API"
      }
    },
    {
      "parameters": {
        "jsCode": "// Non-blocking: LEAD_RECEIVED event insertion failed\n// Log the error and continue the workflow\nconst inputData = $input.first().json;\nconst errorMsg = inputData.error || inputData.message || 'Unknown error';\nconsole.error('[LEAD EVENT] LEAD_RECEIVED event creation failed for lead:', inputData.lead_id || inputData.id, errorMsg);\n\n// Pass through to continue the workflow\nreturn inputData;"
      },
      "id": "event-error-handler",
      "name": "Event Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 500],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Log successful ingestion\nconst insertedLead = $input.first().json;\nconst log = {\n  workflow: 'Lead Ingestion',\n  action: 'lead_created',\n  lead_id: insertedLead.id,\n  customer: insertedLead.customer_name,\n  status: 'success',\n  timestamp: new Date().toISOString()\n};\nconsole.log('[LEAD INGESTION]', JSON.stringify(log));\nreturn { success: true, lead_id: insertedLead.id };"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log failed ingestion\nconst error = $input.first().json.error || 'Unknown error';\nconst log = {\n  workflow: 'Lead Ingestion',\n  action: 'lead_creation_failed',\n  error: error.message || error,\n  status: 'failed',\n  timestamp: new Date().toISOString()\n};\nconsole.error('[LEAD INGESTION ERROR]', JSON.stringify(log));\nreturn { success: false, error: error.message || error };"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 600],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Trigger AI analysis after successful ingestion\n// This node signals the ai-lead-analysis workflow\nconst leadId = $input.first().json.lead_id;\nconsole.log('[LEAD INGESTION] Triggering AI analysis for lead:', leadId);\nreturn { trigger_ai_analysis: true, lead_id: leadId };"
      },
      "id": "trigger-ai",
      "name": "Trigger AI Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook Receiver": {
      "main": [[{ "node": "Validate & Sanitize", "type": "main", "index": 0 }]]
    },
    "Validate & Sanitize": {
      "main": [[{ "node": "Insert into Supabase", "type": "main", "index": 0 }]]
    },
    "Insert into Supabase": {
      "main": [[{ "node": "Get Inserted Lead", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Error Handler", "type": "main", "index": 0 }]]
    },
    "Get Inserted Lead": {
      "main": [[{ "node": "Create LEAD_RECEIVED Event", "type": "main", "index": 0 }]]
    },
    "Create LEAD_RECEIVED Event": {
      "main": [[{ "node": "Log Success", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Event Error Handler", "type": "main", "index": 0 }]]
    },
    "Event Error Handler": {
      "main": [[{ "node": "Log Success", "type": "main", "index": 0 }]]
    },
    "Log Success": {
      "main": [[{ "node": "Trigger AI Analysis", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "UTC",
    "retryOnFail": true,
    "maxTries": 3,
    "waitBetweenTries": 5000
  },
  "staticData": null,
  "tags": [
    { "name": "ingestion" },
    { "name": "core" },
    { "name": "production" }
  ],
  "versionId": "1.2.0",
  "metadata": {
    "version": "1.2.0",
    "description": "Receives HVAC leads via webhook, validates payload, inserts into Supabase, creates LEAD_RECEIVED event, triggers AI analysis",
    "requiredEnv": ["SUPABASE_URL", "SUPABASE_SERVICE_KEY"],
    "triggerType": "webhook",
    "lastUpdated": "2026-07-01"
  }
}
